<div class="side-menu-container transition">
	<div class="close">&times;</div>
    <div class="side-menu">
        <ul>
            <li><a class="button elements_3d elements_block logout_btn" onclick="logout();"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
    </div>
</div>
