<div class="submit_btn_wrapper fixed_to_bottom part1">
    <div class="parts">
        <a class="button bg_color_red menu_btn elements_block" id="submit"><i class="fa fa-cogs" aria-hidden="true"></i> Options</a>
    </div>
</div>